<p id="notice"><%= notice %></p>

<h1>Daily Minyan Links</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_minyan_links.each do |daily_minyan_link| %>
      <tr>
        <td><%= link_to 'Show', daily_minyan_link %></td>
        <td><%= link_to 'Edit', edit_daily_minyan_link_path(daily_minyan_link) %></td>
        <td><%= link_to 'Destroy', daily_minyan_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Minyan Link', new_daily_minyan_link_path %>
